
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding:20px;    
}

.container h1{
    margin: 20px 0;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}
.gallary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.para{
    width:32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10%;
    overflow: hidden;
    
}

.para img{
    width:100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}
.para:hover{
    transform: scale(1.03);
    transition: 0.3s;
    filter: drop-shadow(0 0 10px #333);
    display: cursor-pointer;
}

.para:hover img{
    filter: grayscale(0%);
    display: cursor-pointer;
}

.para figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding:25px;
    width:100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: white;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255,255,255,0));
    transition: 0.3s;
}

.para:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}
